<!--
  Generated template for the AddNotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Notification for {{pollTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- {{pollTitle}} {{pollID}} -->
<!-- <button ion-button (click)="_np.addNotification(pollTitle, pollID, at)"> Add Note</button> -->
<ion-list *ngFor="let sched of (pollSched | async) ; let i = index">
  <ion-item-sliding>
    <ion-item>
      #{{i+1}}: {{sched.at}} | {{sched.every == 'day'? 'Daily':'Weekly every ' }}{{sched.firstat | titlecase}}
    </ion-item>
    <ion-item-options>
      <button ion-button color="danger" (click)="removeItem(sched.$key)"><ion-icon name="trash"></ion-icon></button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<form [formGroup]="notification">
  <ion-item>
    <ion-label>Frequency</ion-label>
    <ion-select formControlName="every">
      <ion-option value="day">Daily</ion-option>
      <ion-option value="week">Weekly</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="notification.value.every === 'week'">
    <ion-label>Which Day</ion-label>
    <ion-select formControlName="firstAt">
      <ion-option value="monday">Monday</ion-option>
      <ion-option value="tuesday">Tuesday</ion-option>
      <ion-option value="wednesday">Wednesday</ion-option>
      <ion-option value="thursday">Thursday</ion-option>
      <ion-option value="friday">Friday</ion-option>
      <ion-option value="saturday">Saturday</ion-option>
      <ion-option value="sunday">Sunday</ion-option>
    </ion-select>
  </ion-item>
  {{notification.value.frequency}}
  <ion-item *ngIf="notification.value.every === 'day' || 'week'">
  <ion-label>Start Time</ion-label>
  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="at"></ion-datetime>
</ion-item>
<button ion-button color="lightblue" class="newformbutton" (click)="addNotif(notification.value)">Add Notification</button>
</form>
<!-- <button ion-button (click)="_np.showNotes()">SHow Notes</button> -->
<!-- Current Notes: {{ notes | async }}
<pre>{{notification.value | json }}</pre> -->

</ion-content>
