<!--
  Generated template for the PollPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{(pollData|async)?.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- {{pollData.title}}
  {{data}} -->
  <!-- <div *ngFor="let result of pollData">
    PollData Result: {{result}}
  </div> -->
  <!-- <div *ngFor="let result of data">
    Result: {{result}}
  </div>
  <div *ngFor="let slide of data.slider">
    slider: {{slide}}
  </div> -->
  <!-- <button ion-button (click)="addMulti()">Add Sliders</button> -->
  <!-- {{pollData | async | json}} -->
  <form [formGroup]="result">
<!-- <div > -->
  <div *ngFor="let option of result.get('options').controls; let i = index">
    <div formArrayName="options">
      <div [formGroupName]="i">
        <div [ngSwitch]="option.value.controlType">
          <div *ngSwitchCase="'slider'">
            <ion-card>
              <ion-card-header>{{option.value.slideName}}</ion-card-header>
            </ion-card>
              <!-- <ion-list> -->
                <ion-item>
                  <ion-range min="0" max="{{option.value.max}}" pin="true" formControlName="value">
                    <ion-icon small range-left>{{option.value.label1}}</ion-icon>
                    <ion-icon small range-right>{{option.value.label2}}</ion-icon>
                  </ion-range>
                </ion-item>
            <!-- </ion-list> -->

          </div>
          <div *ngSwitchCase="'multi'">
            <ion-card>
              <ion-card-header>{{option.value.title}}</ion-card-header>
            </ion-card>
            <!-- Choices: {{option.get("choices").controls[0].value.choice}} -->
            <ion-list *ngFor="let choice of option.get('choices').controls; let i = index">
              <div formArrayName="choices">
                <ion-item [formGroupName]="i">
                  <ion-label fixed>{{choice.value.choice}}</ion-label>
                  <ion-checkbox item-content formControlName="chosen"></ion-checkbox>
                </ion-item>
              </div>
            </ion-list>

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div *ngIf="pollData.options">

    <!-- <ion-list-header>{{pollData.multi.question}}</ion-list-header>

<ion-list *ngFor="let choice of result.get('multi').controls; let i = index"
  formArrayName="multi">
<ion-item [formGroupName]="i">
  <ion-label fixed>{{choice.value.choice}}</ion-label>
  <ion-checkbox item-content formControlName="chosen"></ion-checkbox>
</ion-item> -->

<!-- <ion-list>
  <ion-icon small>{{choice.choice}}</ion-icon>
  <ion-checkbox></ion-checkbox>
</ion-list> -->
<!-- </ion-list> -->
</div>
<button ion-button (click)="addResult(result)">{{(pollData|async)?.button}}</button>
</form>
<ion-footer>
  <ion-toolbar>
    <!-- <button ion-button icon-right end (click)='openPoll(poll, poll.$key, poll.pollCreated)'>
      Chart
      <ion-icon name="stats"></ion-icon>
    </button> -->
    <!-- <p>See the chart for this question</p> -->
    <ion-buttons end>
      <button ion-button icon-right (click)='openPoll(poll, poll.$key, poll.pollCreated)'>
        Chart
        <ion-icon name="stats"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-content>
