page-poll {

}

form {
  width:80%;
}
div {
}

.formwrapper {
  width:100%;
  height:100%;
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
  justify-content: center;
}

.formdiv {
  width: 100%;
}

.formbutton {
  width: 100%;
  color: #F4E0A2;
  text-shadow: 2px 2px #7E661A;
}
