<ion-header>
  <ion-navbar>
    <ion-title>
      Inside Outcomes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-nav id="nav" [root]="rootPage" #nav swipeBackEnabled="false"></ion-nav>

<ion-content padding>
  <button ion-button outline *ngIf="!_auth.currentUser" (click)="_auth.signInWithGoogle()"><ion-icon name="logo-googleplus"></ion-icon> Sign In</button>
  <button ion-button outline *ngIf="_auth.currentUser" (click)="_auth.signOut()">Sign Out</button>
  <ion-item *ngIf="_auth.currentUser">
    <ion-avatar item-left>
      <img [src]="_auth.currentUser.photoURL">
    </ion-avatar>
    <h2>{{ _auth.currentUser.displayName }}</h2>
    <h3>{{ _auth.currentUser.email }}</h3>
    <h3>{{ _auth.currentUser.uid }}</h3>
  </ion-item>
  <ion-list *ngIf="_auth.currentUser">
      <button ion-item *ngFor="let poll of polls | async; let i = index"
      (click)='openPage(poll)'>{{i+1}}: {{poll.title}}</button>
  </ion-list>

</ion-content>
